---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "September 2024 - Present",
    title: "Full-stack Developer",
    company: "KS2 C.A.",
    description:
      'Led the architecture of administrative systems implementing RBAC security. Optimized development lifecycles through "cold-run" processes and delivered production-ready modules using Laravel and Docker.',
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "August 2022 - September 2024",
    title: "Full-stack Developer",
    company: "Menssajero C.A.",
    description:
      "Scaled a national logistics platform serving 230+ agencies. Developed warehouse management modules and real-time tracking systems, handling 50k+ daily API requests and 400k+ monthly shipments.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
